{{ "<!--" | safeHTML }}
      ___           ___           ___       ___           ___           ___
     /\  \         /\  \         /\__\     |\__\         /\  \         /\__\
    /::\  \       /::\  \       /:/  /     |:|  |       /::\  \       /::|  |
   /:/\:\  \     /:/\:\  \     /:/  /      |:|  |      /:/\:\  \     /:|:|  |
  /::\~\:\  \   /::\~\:\  \   /:/  /       |:|__|__   /:/  \:\  \   /:/|:|  |__
 /:/\:\ \:\__\ /:/\:\ \:\__\ /:/__/        /::::\__\ /:/__/ \:\__\ /:/ |:| /\__\
 \/__\:\/:/  / \/_|::\/:/  / \:\  \       /::___/__/ \:\  \ /:/  / \/__|:|/:/  /
      \::/  /     |:|::/  /   \:\  \     /:/  /       \:\  /:/  /      |:/:/  /
      /:/  /      |:|\/__/     \:\  \    \/__/         \:\/:/  /       |::/  /
     /:/  /       |:|  |        \:\__\                  \::/  /        /:/  /
     \/__/         \|__|         \/__/                   \/__/         \/__/


         repo: https://www.github.com/arlyon/arlyon.co
         theme: https://www.github.com/arlyon/CAPSLOCK{{ with .GitInfo }}

         {{ with .AuthorDate }}updated: {{ .Format "Jan 2, 2006 15:04:05" }}{{ end }}
         {{ with .AbbreviatedHash }}hash: {{ . }}{{ end }}
         {{ with .AuthorName }}author: {{ . }}{{ end }}
         {{ with .Subject }}comment: {{ . }}{{ end }}
         {{ end }}
{{ "-->" | safeHTML }}